
  <div class = "navBar">
     <div class = 'title'>
         My Movies
     </div>
     <div class = 'search'>
        <input [(ngModel)] = 'value'>
         <button (click)= 'onSearch()'> search  </button>
     </div>
    <div *ngIf = '!loggedIn' class = 'login'>
        <p>email
        <input [(ngModel)] = '_user.email'>
        password
        <input [(ngModel)] = '_user.password'>
        <button (click) = 'onLogin()'> log in </button>
        <a routerLink = 'registration'>registration </a>
        </p>
    </div>    
    
    <div *ngIf = 'loggedIn' class = 'favoritesLink'>
        <a routerLink = 'favorites'>Your Favorites</a>
    </div>
         
        
    
  
    
    
</div>
  
