<div class = 'top'>
 <app-nav></app-nav> 
</div>

<div class = 'all'> 
  
  <div class = 'components'> 
      <div class = 'categories'>
        <app-categories></app-categories>
      </div>
  
      <div class = 'router'>
           <router-outlet></router-outlet>
      </div>
 
  

    <!--<div class = 'movieList'>-->
    <!--    <div *ngFor= 'let item of _movieApi.data' class = 'movieInfo'> -->
          
    <!--     <p> {{item.title}}</p>-->
    <!--     <img src= 'https://image.tmdb.org/t/p/original{{item.poster_path}}' height="200" width="131">-->
           
    <!--    </div>-->
    <!--</div>-->
    <div class = 'inTheaters'>
        <app-in-theaters></app-in-theaters>
    </div>
    
    
  </div>  
</div>