.all {
    display: flex;
    justify-content: space-between;
    background-color:rgb(255, 255, 230);
.components {
    display:flex;
    justify-content: space-between;
    margin: 1em;
    
}
.categories {
    flex: 17%;
    margin-left: 1em;
    
}
.router {
    flex: 70%;
    margin: 1em;
    border: solid;
    padding: 1em;
}
.inTheaters {
    flex: 15%;
    margin: 1em;
}
}
.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movieInfo {
    width:20%;
    align-text: center;
    margin:10px;
}

.title{
    align-text: center;
}
.searchBar{
    align-text: center;
}