.all {
    display: flex;
    justify-content: space-between;
.components {
    display:flex;
    justify-content: space-between;
}    
}
.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movieInfo {
    width:20%;
    align-text: center;
    margin:10px;
}

.title{
    align-text: center;
}
.searchBar{
    align-text: center;
}