
<app-nav></app-nav>

<br>
<div class = 'all'> 
  
  <div class = 'components'> 
  
  <app-categories></app-categories>
  
  <router-outlet></router-outlet>
  

    <!--<div class = 'movieList'>-->
    <!--    <div *ngFor= 'let item of _movieApi.data' class = 'movieInfo'> -->
          
    <!--     <p> {{item.title}}</p>-->
    <!--     <img src= 'https://image.tmdb.org/t/p/original{{item.poster_path}}' height="200" width="131">-->
           
    <!--    </div>-->
    <!--</div>-->
    
    <app-in-theaters></app-in-theaters>
    
  </div>  
</div>