.search {
    display: flex;
    justify-content: space-between;
}
.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.movieTitle {
     background:none;
     color:inherit;
     border:none; 
     padding:0;
     font: inherit;
     cursor: pointer;
     word-wrap: break-word;
     width:10em;
}